<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="WebApplication2.Site1" %>

<!DOCTYPE html>

<html>
    <head id="head" runat="server">
        <title></title>
        <link href="basic.css" rel="stylesheet"/>
    </head>

    <body>
        <form id="form1" runat="server">
            <div id="main">
                <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
            </div>
        </form>
    </body>
</html>